* {
    box-sizing: border-box;
  }
  
  body {
  
    margin: 0;
    font-family: Lucida Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 19vh;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #48c0f8;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border: 1px solid;
    gap: 2rem;
    padding: 0 1rem ;
  }

  .footer-container {
    position: fixed;
    height: 19vh;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48c0f8;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border: 1px solid;
    gap: 2rem;
    padding: 0 1rem ;
  }
  
  .footer-section {
    display: flex;
    justify-content: center !important; 
    align-items: center !important;
  }

  nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .site-title {
    font-size: 2rem;
    font-weight: bold;
  
  }
  
  nav li.active {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  nav li:hover {
    transition-duration: 0.1s;
    background-color: rgb(20, 103, 212);
    border-radius: 5px;
  }
  
  form.login, form.signup {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #48c0f8;
    border-radius: 8px;
    border: 1px solid black;
  }
  
  .auth-inner {
    text-align: left;
    padding: 10px;
  }
  
  .pages {
    display: flex;
  }
  
  .input-labels{
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  .form-control, .modal-form-control {
    padding: 7px;
    border-radius: 4px;
  
  }
  
  
  .form-control {
    width: 100%;
  }
  
  
  .button-control {
    background-color: white;
    font-size: 20px;
    padding: 5px 18px;
    border-radius: 10px;
    border: 2px solid darkblue;
    transition-duration: 0.1s;
  }
  
  
  .button-control:hover{
    background-color: rgb(155, 155, 155);
  }
  
  .overlay{
     background-color: rgba(0, 0, 0, 0.5);
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
  }
  
  .modalContainer{
    margin-top: 100px;
    border: solid 2px;
    background-color: antiquewhite;
    width: 400px;
    height: 460px;
    border-radius: 7px;
  }
  
  .modal-input{
    margin-bottom: 15px;
  }
  
  .closeBtn{
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
    color: red;
  }

  .new-schedule-image {
    height: 100px;
    margin-left: 20px;
  }

  .header-text {
    display: flex;
    justify-content: center;
  }

  .page-divider {
    border: 2px solid black;
    height: 2px;
    margin: 30px;
  }